/*colors*/
.green {
    background: #04A46C;
}

.background-dark-grey{
    background: #224D77
}

.orange{
    background: #F55306;
}

.light-green {
    background: #58D705;
}

.light-blue {
    background: #7074FF;
}
.blue {
    background: #567BFF;
}

.font-white {
    color: white;
}
/*margin*/
.ml-auto{
    margin: 0 0 0 auto;
}

.mt-10{
    margin-top:10px;
}

/*fonts*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px !important;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*blocks*/

.catPhoto {

    width: 240px;
}

.inline div {
    display: inline-block; /* Делаем блоки по горизонтали */
    display: -moz-inline-stack; /* Для FireFox 2, тот же самый, что и inline-block */
    vertical-align: top; /* Выравниваем их сверху */
    font-size: 16px; /* Ставим дочкам размер шрифта, иначе примет значение родителя */
    /* Для IE 6 и IE 7 чтобы блоки были по горизонтали*/
    zoom: 1;
    display: inline;
}

.vert div {
    display: flex;
    vertical-align: middle; /* Выравниваем их сверху */
    zoom: 1;
}

.main {
    /* Дополнительные стили для .main */
}

body {
    background: #A1BFDC;
    margin: 0 auto; /* Центрируем блоки */
    width: 100%; /* Задаем ширину 100%, чтобы сделать ее резиновой */
    max-width: 700px; /* Устанавливаем максимальную ширину */
}

.mainFrame {
    display: flex;
    flex-direction: column;
    background: #A1BFDC;
    position: static;
    vertical-align: central;
}

div.inline {
    font-size: 0; /* Ставим родителю значение 0, чтобы убрать отступы у блоков*/
}

.left-block {
    background: red;
    width: 20%; /*Задаем ширину в процентах чтобы сделать ее резиновой*/
    height: 300px; /* Высота блока */
}

.content {
    background: green;
    width: 60%;
    height: 300px;
}

.right-block {
    background: blue;
    width: 20%;
    height: 300px;
}

.informationBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;


}

.catBar {
    width: 100%;
    height: 200px;
}

.activitiesBar {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
.activities-task {
    border-radius: 10px;
    background: #0F589F;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-task-text{
    text-align:center;

}

.activities-check{
    text-align: center; /* Центрирование дочерних элементов */
    width:fit-content;
    flex-direction:column;
    margin-left:auto;
}

.activities-check .activities-checkBox{
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #454545;
    display:block;
    position:relative;
    vertical-align: middle; /* Центрирование по вертикали */
    justify-content:center;
    align-items:center;
    display:flex;
}

.activities-check .activities-checkBox:before{
    content:'';
    background:green;
    width:5px;
    height: 25px;
    left:50%;
    border-radius:5px;
    justify-content:center;
    transform:translateX(-50%);
    position:absolute;
}

.activities-check .activities-checkBox:after{
    content:'';
    background:green;
    width:25px;
    height: 5px;
    top:50%;
    border-radius:5px;
    justify-content:center;
    transform:translateY(-50%);
    position:absolute;
}


.vertical-line{
    width:5px;
    height: 50px;
    position: absolute;
    border-radius:5px;
    justify-content:center;
}

.menu {
    /* Дополнительные стили для .menu */
}

.level {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.level-bar {
    margin: 5px 0 0 -1px;
    display: inline-block;
    background: white;
    border-radius: 10px;
}

.level-mood-bar {
    margin: 0 0 0 8px;
    display: inline-block;
    background: white;
    border-radius: 10px;
    width:100%;
}

.green-part{
    width: 100px;
    border-radius: 10px 0   0   10px;
    padding: 4px;
    color: white;
}
.display-block {
    display: block;
}

.mood{
    margin:5px 0 0 -1px;
    flex-direction: column;
}

.mood-bar{
    position:relative;
}

.procent-mood{
    width:65%;
    height:100%;
    border-radius: 10px 0 0 10px;
}

.coin-icon{
    background:url(../source/coin.svg) no-repeat;
    width:20px;
    height:21px;
}

.button {
    border: 2px solid #454545;
    background: #689CCF;
    border-radius: 10px;
    color: white;
    border-style: solid;
    padding: 5px;
    vertical-align:baseline;

}

.button:hover {
    background: #224D77
}

.button:active{
    color:black;
    background:white;
}

.coinline{
    vertical-align:middle;
    text-align:center;

}

.baseline{
    margin-top: 5px;
}

.mt-2{
    margin-top:2px;
}

.text-center{
    text-align:center;
    justify-content:center;
}