/*colors*/
.green {
    background: #04A46C;
}

.orange {
    background:#F55306;
}

.font-dark-grey{
    color:#4E5662;
}

.black{
    background: #000000;
}

.font-black{
    color: #000000;
}

.font-white{
    color:#FFFFFF;
}

.background-dark-grey{
    background: #224D77;
}

.font-light-grey{
    color:#04A46C;
}

.orange{
    background: #F55306;
}

.light-green {
    background: #58D705;
}

.light-blue {
    background: #7074FF;
}
.blue {
    background: #567BFF;
}

.font-white {
    color: white;
}
/*margin*/
.ml-auto{
    margin: 0 0 0 auto;
}

.mt-10{
    margin-top:10px;
}

/*fonts*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px !important;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:24px !important;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*blocks*/

.catPhoto {
    height:180px;
    width: 180px;
}

.inline div {
    display: inline-block; /* Делаем блоки по горизонтали */
    display: -moz-inline-stack; /* Для FireFox 2, тот же самый, что и inline-block */
    vertical-align: top; /* Выравниваем их сверху */
    font-size: 16px; /* Ставим дочкам размер шрифта, иначе примет значение родителя */
    /* Для IE 6 и IE 7 чтобы блоки были по горизонтали*/
    zoom: 1;
    display: inline;
}

.vert div {
    display: flex;
    vertical-align: middle; /* Выравниваем их сверху */
    zoom: 1;
}

.main {
    /* Дополнительные стили для .main */
    width:100%;
}

body {
    background: #A1BFDC;
    margin: 0 auto; /* Центрируем блоки */
    width: 100%; /* Задаем ширину 100%, чтобы сделать ее резиновой */
    max-width: 700px; /* Устанавливаем максимальную ширину */
    height:100%;
    display:flex;
    overflow:hidden;
}

html{height:100%;}

.mainFrame {
    display: flex;
    flex-direction: column;
    background: #A1BFDC;
    vertical-align: central;
    position:relative;

}

div.inline {
    font-size: 0; /* Ставим родителю значение 0, чтобы убрать отступы у блоков*/
}

.left-block {
    background: red;
    width: 20%; /*Задаем ширину в процентах чтобы сделать ее резиновой*/
    height: 300px; /* Высота блока */
}

.content {
    background: green;
    width: 60%;
    height: 300px;
}

.right-block {
    background: blue;
    width: 20%;
    height: 300px;
}

.informationBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;


}

.catBar {
    width: 100%;
    height: 180px;
}

* {
  box-sizing: border-box;
}

.activitiesBar {
    display: flex;
    position:relative;
    flex-direction: column;
    height:100vh;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}

.task-line{
    width:auto;
    height:2px;
    background:white;
    margin:2px 2px 0 2px;
}

.activities-task {
    border-radius: 10px;
    background: #0F589F;
    color: white;
    padding: 10px;
    display: flex;
    margin-top:5px;
    justify-content: space-between;
    align-items: center;
}

.activities-task-negative {
    border-radius: 10px;
    background: #4E5662;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
}

.activities-task-text{
    text-align:center;

}

.activities-check-negative{
    text-align: center; /* Центрирование дочерних элементов */
    width:fit-content;
    flex-direction:column;
}

.activities-check .activities-checkBox-negative{
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #454545;
    display:block;
    position:relative;
    vertical-align: middle; /* Центрирование по вертикали */
    justify-content:center;
    align-items:center;
    display:flex;
}

.activities-check .activities-checkBox-negative:before{
    content:'';
    opacity:100%;
    background:#F55306;
    width:25px;
    height: 5px;
    top:50%;
    border-radius:5px;
    justify-content:center;
    transform:translateY(-50%);
    position:absolute;
}

.activities-check .activities-checkBox-negative:after{
    content:'';
}

.activities-check{
    text-align: center; /* Центрирование дочерних элементов */
    width:fit-content;
    flex-direction:column;
}


.activities-check .activities-checkBox{
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #454545;
    position:relative;
    vertical-align: middle; /* Центрирование по вертикали */
    justify-content:center;
    align-items:center;
    display:flex;
}

.activities-check .activities-checkBox-{
    content:'';
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #454545;
    display:block;
    position:relative;
    vertical-align: middle; /* Центрирование по вертикали */
}

.activities-check .activities-checkBox-greenMark{
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #454545;
    position:relative;
    vertical-align: middle; /* Центрирование по вертикали */
    justify-content:center;
    align-items:center;
    display:flex;
}

.activities-check .activities-checkBox-greenMark:before {
    content: '';
    width: 29px;
    height: 30px;
    background: url('./source/greenMark.svg') no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greenMark-icon{
    background:url(..\source\greenMark.svg) no-repeat;
    width:29px;
    height:30px;
}

.activities-check .activities-checkBox:before{
    content:'';
    opacity:100%;
    background:#58D705;
    width:5px;
    height: 25px;
    left:50%;
    border-radius:5px;
    justify-content:center;
    transform:translateX(-50%);
    position:absolute;
}

.activities-check .activities-checkBox:after{
    opacity:100%;
    content:'';
    background:#58D705;
    width:25px;
    height: 5px;
    top:50%;
    border-radius:5px;
    justify-content:center;
    transform:translateY(-50%);
    position:absolute;
}

.activities-specifications{
    display: flex;
    color:white;
}

.z-index-99{
    z-index:99;
}

.vertical-line{
    width:5px;
    height: 50px;
    position: absolute;
    border-radius:5px;
    justify-content:center;
}

.menu {
    background:#567BFF;
    position:sticky;
    bottom:0%;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.type-button{
    flex-direction:column;
    width:100%;
    justify-content:center;
    align-items:center;
    display:flex;
}
.marker-button{
    flex-direction:column;
    invert(1);
    color:white;
    width:100%;
    align-items:center;
    display:flex;
    border-radius:15px;
    background: #002FA6 40%;
    fill: #002FA6 40%;
    justify-content:center;

}

.add-activities{
    width:50px;
    height:50px;
    border-radius:100%;
    background:#F55306;
    right:10px;
    bottom:10px;
    position:absolute;
    display:block;
}

.add-activities:before{
    content:'';
    opacity:100%;
    background:white;
    width:5px;
    height: 25px;
    left:50%;
    top:25%;
    border-radius:5px;
    justify-content:center;
    transform:translateX(-50%);
    position:absolute;

}

.add-activities:after{
    opacity:100%;
    content:'';
    background:white;
    width:25px;
    height: 5px;
    top:50%;
    left:25%;
    border-radius:5px;
    justify-content:center;
    transform:translateY(-50%);
    position:absolute;
}


.level {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.level-bar {
    margin: 5px 0 0 -1px;
    display: inline-block;
    background: white;
    border-radius: 10px;
}

.level-mood-bar {
    margin: 0 0 0 8px;
    display: inline-block;
    background: white;
    border-radius: 10px;
    width:100%;
}

.green-part{
    width: 100px;
    border-radius: 10px 0   0   10px;
    padding: 4px;
    color: white;
}
.display-block {
    display: block;
}

.mood{
    margin:5px 0 0 -1px;
    flex-direction: column;
}

.mood-bar{
    position:relative;
}

.procent-mood{
    width:65%;
    height:100%;
    border-radius: 10px 0 0 10px;
}

.coin-icon{
    background:url(../source/coin.svg) no-repeat;
    width:20px;
    height:21px;
}

.task-icon{
    background:url(../source/task-icon.svg) no-repeat;
    width:47px;
    height:45px;
}
.dayleak-icon{
    background:url(../source/dayleak-icon.svg) no-repeat;
    invert(100%);
    width:45px;
    height:45px;
}

.habit-icon{
    background:url(../source/habit-icon.svg) no-repeat;
    width:41px;
    height:47px;
}

.settings-icon{
    background:url(../source/settings.svg) no-repeat;
    width:46px;
    height:45px;
}

.button {
    border: 2px solid #454545;
    background: #689CCF;
    border-radius: 10px;
    color: white;
    border-style: solid;
    padding: 5px;
    vertical-align:baseline;

}

.button:hover {
    background: #224D77;
}

.button:active{
    color:black;
    background:white;
}

.coinline{
    vertical-align:middle;
    text-align:center;

}

.baseline{
    margin-top: 5px;
}

.mt-2{
    margin-top:2px;
}

.text-center{
    text-align:center;
    justify-content:center;
}

.invert {

  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.create-task{
    top:25%;
    width:auto;
    position:absolute;
    height:fit-content;
    background:white;
    border-radius:15px;
    box-shadow:0px 4px 5px rgb(0,0,0,.25);
    z-index:100;
    padding:10px 60px 10px 60px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.pd-15{
    padding-top:15px;
}

.form-txt{
    border-radius:200px;
    border:2px grey solid;
    padding:5px 10px 5px 10px;
}

.button-confirm {
    border: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
    border-style: solid;
    margin-right: 5px;
    vertical-align:baseline;
}

.button-confirm:hover {
    border: 2px solid #58D705;
    transition: border 1s;
}

.button-confirm:active{
    background:#58D705;
    border: 2px solid black;
    transition: background 0,5s;
}

.button-cancel{
    border: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
    border-style: solid;
    margin-left: 10px;
    vertical-align:baseline;
}

.button-cancel:hover{
    border: 2px solid #F55306;
    transition: border 0,5s;
}

.button-cancel:active{
    border: 2px solid black;
    background:#F55306;
}

.horizontal-center{
    justify-content:center;
    text-align:center;
    padding-top:15px;
}

.create-habit{
    top:25%;
    width:auto;
    position:absolute;
    height:196px;
    background:white;
    border-radius:15px;
    box-shadow:0px 4px 5px rgb(0,0,0,.25);
    z-index:100;
    padding:auto 10px auto 10px;
    margin:auto 10px auto 10px;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.button-or{
    border:2px black;
    background:none;
    margin-right:10px;
    padding:5px 10px 5px 10px;
}
.button-or:active{
    border:4px #58D705 solid;
    border-radius:20px;
    padding:1px 6px 1px 6px;
}

.button-or1{
    border:2px;
    background:none;
    margin-left:10px;
    padding:5px 10px 5px 10px;
}
.button-or1:active{
    border:4px #F55306 solid;
    border-radius:20px;
    padding:1px 6px 1px 6px;
}

.button- {
    border: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
    border-style: solid;
    margin-right: 5px;
    vertical-align:baseline;
}

